@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setup relevant fonts */
@font-face {
    font-family: 'Fondamento';
    src: url('/assets/fonts/Fondamento-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

/* Generic page setup for all pages*/
html, body {
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @apply font-serif;
    background-color: #e3d7c3;
}
  
main {
    flex: 1;
}

header h1, h2 {
    @apply text-center;
    font-family: 'Fondamento', cursive;
}

header h1 {
    @apply text-4xl font-bold mb-2;
}

header h2 {
    @apply text-3xl mb-4 md:mb-6 lg:mb-8;
}

/* Create consistent styles for each page */
.main-banner {
    @apply relative w-full h-16 md:h-20 lg:h-24 bg-cover bg-center shadow-xl mix-blend-multiply mb-4 md:mb-6 lg:mb-8;
    background-image: url('assets/images/codex-banner.webp');
}

.main-paragraph {
    @apply container mx-auto max-w-prose text-center text-xl px-6;
}

/* Everything main-button related */
.mail-button {
    @apply underline text-[#78836B] hover:text-[#586057] cursor-pointer block text-center text-xl;
}

.main-button {
    @apply relative w-full sm:w-1/2 md:w-1/3 lg:w-1/4 flex items-center bg-[#78836B] hover:bg-[#586057] justify-center aspect-square text-white rounded-md shadow;
}

.main-button-text {
    @apply relative z-10 opacity-70 transition-opacity duration-700 group-hover:opacity-100;
}

.main-button-image {
    @apply absolute inset-0 w-full h-full object-cover opacity-60 transition-opacity duration-700 group-hover:opacity-30;
}

.back-button {
    @apply absolute text-left p-4 underline text-[#78836B] hover:text-[#586057] cursor-pointer;
}

.link-button {
    @apply text-left text-[#78836B] hover:text-[#586057] cursor-pointer;
}

/* Everything related to Resources page */
.resource-heading {
    @apply text-left text-xl font-bold p-1;
}

.resource-list li {
    @apply text-left text-base ml-4 text-[#78836B] hover:text-[#586057] cursor-pointer;;
}

.resource-drop {
    @apply ml-2 text-black
}

/* Everything related to Our Mission info-cards */

/* All logo formatting & copyright */
.main-logo {
    @apply absolute top-1/2 transform -translate-y-1/2 h-5/6;
    left: 5%;
}

.social-logo {
    @apply absolute top-1/2 transform -translate-y-1/2 flex space-x-8 h-1/3;
    right: 5%;
}

.copyright {
    @apply text-center text-sm p-4;
}