@tailwind base;
@tailwind components;
@tailwind utilities;

.main-button {
    @apply relative w-full sm:w-1/2 md:w-1/3 lg:w-1/4 flex items-center bg-[#78836B] hover:bg-[#586057] justify-center aspect-square text-white rounded-md shadow;
}

.main-button-image {
    @apply absolute inset-0 w-full h-full object-cover opacity-60 transition-opacity duration-700 group-hover:opacity-30;
}

.main-button-text {
    @apply relative z-10 opacity-70 transition-opacity duration-700 group-hover:opacity-100;
}

.main-banner {
    @apply relative w-full h-16 md:h-20 lg:h-24 bg-cover bg-center shadow-xl mix-blend-multiply;
    background-image: url('assets/images/codex-banner.webp');
}

.body-style {
    @apply font-serif;
    background-color: #e3d7c3;
}

.main-logo {
    @apply absolute top-1/2 transform -translate-y-1/2 h-5/6;
    left: 5%;
}

.social-logo {
    @apply absolute top-1/2 transform -translate-y-1/2 flex space-x-8 h-1/3;
    right: 5%;
}

.main-header {
    @apply text-center text-4xl font-bold py-4 md:py-6 lg:py-8;
}

.main-paragraph {
    @apply container mx-auto max-w-prose text-center text-xl px-6;
}

.back-button {
    @apply absolute text-left p-4 underline text-[#78836B] hover:text-[#586057] cursor-pointer;
}

.mail-button {
    @apply underline p-4 text-[#78836B] hover:text-[#586057] cursor-pointer block text-center text-xl;
}

.copyright {
    @apply fixed bottom-0 left-0 right-0 text-center text-sm p-4;
}